block content
  .container.visios

    .panel.panel-default
      .panel-heading 
        span.pull-left
          img.avatar(src="/img/avatar.jpg")
        b Smith family
        small.pull-right 3 members
      .panel-body
        .row
          .col-xs-6.col-md-3
            .visio.thumbnail
              video(autoplay=true)
                source(src="http://www.w3schools.com/html/mov_bbb.mp4",type="video/mp4")
                source(src="http://www.w3schools.com/html/mov_bbb.ogg",type="video/ogg")
            .caption
              h5 User name
              small Dad

          .col-xs-6.col-md-3
            .visio.thumbnail
              video(autoplay=true)
                source(src="http://www.w3schools.com/html/mov_bbb.mp4",type="video/mp4")
                source(src="http://www.w3schools.com/html/mov_bbb.ogg",type="video/ogg")
            .caption
              h5 User name
              small Dad

          .col-xs-6.col-md-3
            .visio.thumbnail
              video(autoplay=true)
                source(src="http://www.w3schools.com/html/mov_bbb.mp4",type="video/mp4")
                source(src="http://www.w3schools.com/html/mov_bbb.ogg",type="video/ogg")
            .caption
              h5 User name
              small Dad

          .col-xs-6.col-md-3
            .visio.thumbnail
              video(autoplay=true)
                source(src="http://www.w3schools.com/html/mov_bbb.mp4",type="video/mp4")
                source(src="http://www.w3schools.com/html/mov_bbb.ogg",type="video/ogg")
            .caption
              h5 User name
              small Dad

    .panel.panel-default
      .panel-heading 
        span.pull-left
          img.avatar(src="/img/avatar.jpg")
        b Johnson family
        small.pull-right 3 members
      .panel-body
        .row
          .col-xs-6.col-md-3
            .visio.thumbnail
              video(autoplay=true)
                source(src="http://www.w3schools.com/html/mov_bbb.mp4",type="video/mp4")
                source(src="http://www.w3schools.com/html/mov_bbb.ogg",type="video/ogg")
            .caption
              h5 User name
              small Dad

          .col-xs-6.col-md-3
            .visio.thumbnail
              video(autoplay=true)
                source(src="http://www.w3schools.com/html/mov_bbb.mp4",type="video/mp4")
                source(src="http://www.w3schools.com/html/mov_bbb.ogg",type="video/ogg")
            .caption
              h5 User name
              small Dad

          .col-xs-6.col-md-3
            .visio.thumbnail
              video(autoplay=true)
                source(src="http://www.w3schools.com/html/mov_bbb.mp4",type="video/mp4")
                source(src="http://www.w3schools.com/html/mov_bbb.ogg",type="video/ogg")
            .caption
              h5 User name
              small Dad

