block content
  .container.visios

    .panel.panel-default
      .panel-heading 
        span.pull-left
          img.avatar(src="/img/avatar.jpg")
        b Smith family
        small.pull-right 3 members
      .panel-body
        .row
          .col-sm-2.col-md-3
            .visio.thumbnail
              video(autoplay=true, controls)
                source(src="http://www.w3schools.com/html/mov_bbb.mp4",type="video/mp4")
                source(src="http://www.w3schools.com/html/mov_bbb.ogg",type="video/ogg")
            .caption
              h5 User name
              p 
                small Dad

          .col-sm-2.col-md-3
            .visio.thumbnail
              video(autoplay=true, controls)
                source(src="http://www.w3schools.com/html/mov_bbb.mp4",type="video/mp4")
                source(src="http://www.w3schools.com/html/mov_bbb.ogg",type="video/ogg")
            .caption
              h5 User name
              p 
                small Dad


          .col-sm-2.col-md-3
            .visio.thumbnail
              video(autoplay=true, controls)
                source(src="http://www.w3schools.com/html/mov_bbb.mp4",type="video/mp4")
                source(src="http://www.w3schools.com/html/mov_bbb.ogg",type="video/ogg")
            .caption
              h5 User name
              p 
                small Dad


          .col-sm-2.col-md-3
            .visio.thumbnail
              video(autoplay=true, controls)
                source(src="http://www.w3schools.com/html/mov_bbb.mp4",type="video/mp4")
                source(src="http://www.w3schools.com/html/mov_bbb.ogg",type="video/ogg")
            .caption
              h5 User name
              p 
                small Dad


          .col-sm-2.col-md-3
            .visio.thumbnail
              video(autoplay=true, controls)
                source(src="http://www.w3schools.com/html/mov_bbb.mp4",type="video/mp4")
                source(src="http://www.w3schools.com/html/mov_bbb.ogg",type="video/ogg")
            .caption
              h5 User name
              p 
                small Dad


          .col-sm-2.col-md-3
            .visio.thumbnail
              video(autoplay=true, controls)
                source(src="http://www.w3schools.com/html/mov_bbb.mp4",type="video/mp4")
                source(src="http://www.w3schools.com/html/mov_bbb.ogg",type="video/ogg")
            .caption
              h5 User name
              p 
                small Dad
